:root { /* Color palette for css */
    --main-bg-color: #C40000; /* Red */
    --main-secondary-color: #E94646; /* Red, a shade lighter */
    --secondary-color: #E99C0B; /* Yellow gold */
    --light-color: #FFFBFB; /* White */
    --dark-color: #210000; /* Black */
}

.palette-body {
    background-color: var(--main-bg-color); /* Applying --main-bg-color to the background of body */
}

.palette-container { /* Applying --dark-color for the content of the body with --light-color for the text */
    background-color: var(--dark-color);
    color: var(--light-color);
}

.palette-navbar { /* Applying --secondary-color to navbar along with --dark-color for its text */
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

/*CSS for Landing Page*/
.slideshow-container {
    position: relative;
    margin: auto;
}

#main-body {
    margin-top: 50px;
    margin-bottom: 20px;
}

.slides {
    display: none; /*hiding slides by default*/ 
}

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    padding: 10px;
}

.right {
    right: 0;
    border-radius:3px 0 0 3px;
}

.left:hover, .right:hover {
    background-color: var(--main-secondary-color);
}

.slideTitle
{
    color: var(--light-color);
    font-size: 72px;
    padding: 20px;
    position: absolute;
    top: 60px;
    left: 240px;
}

.slideText {
    color: var(--light-color);
    font-size: 30px;
    padding: 40px;
    position: absolute;
    bottom: 140px;
    width: 100%;
    font-weight: bold;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--light-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--main-secondary-color);
}

.synopsisTitle {
    font-weight: bold;
    font-size: 48px;
}

.synopsisBody {
    margin: 50px;
    font-size: 24px;
}

.center {
    text-align: center;
}

.text-outline {
    -webkit-text-stroke-color: var(--dark-color);
    -webkit-text-stroke-width: 1px;
}



body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
