<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container" id="about">
    <!-- Heading-->
    <div class="container" id="seating">
        <img src="~/Content/Images/img2.jpg" alt="seats" style="width: 100%;">
        <div class="centered">
            <h2>Company History</h2>
        </div>
    </div>

    <!-- End Heading-->

    <br />

    <!--"about" paragraph taken from orignal site-->
    <div class="p-5, w3-animate-opacity">
        <p>
            In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and their current home, The Shoebox Theater.

            From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.
            Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.
            <br />
            <br />
            Theatre Vertigo has worked on world premieres including <i>Faust</i>. <i>Us</i> by Joseph Fisher, <i>99 Ways to Fuck a Swan</i> by Kim Rosenstock, and <i>The End of Sex</i> by Craig Jessen.
            In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, <i>I Want To Destroy You</i>, by Rob Handel.
        </p>
        <!--End "about" paragrph take from orignal site-->
    </div>
    <!-- Image-->
    <img src="~/Content/Images/img3.jpg" alt="dance" class="rounded mx-auto d-block" style="width:100%" />
    <!--End Image-->
</div>







