
@{
    ViewBag.Title = "Wiki";
}
<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
        <h2 class="text-right">Theatre Vertigo Wiki</h2>

        <hr />
        <p>Look at this AMAZING text!!!</p>
    </div>
</div>
<div>
    <p>Paragrah Element</p>
</div>
