@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="w3-container w3-black text-center">
        <h1 class="thanks">Thank You</h1>
    </div>
    <div>
        <div id="giraffe" class="container">

            <br>
            <br>
            <h2 class="bigger lead text-light">Your input has been considered! Please check your email for verification.</h2>
            <br>
            <br />

        </div>
    </div>
</div>


