
@{
    ViewBag.Title = "Login Failed";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body> 
    <!--Added option buttons and image to the page-->
    <img src="./../HTML/img/oops.jpg" alt="Oops!" />
    <h2>Your login attempt was not successful.</h2>
    <button type="submit">Retry</button>
    <button type="submit">Register</button>
    <button type="submit">Forgot Password?</button>

</body>
</html>