
@{
    ViewBag.Title = "Login Failed";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" media="screen"/>
</head>

<body>
    <!--Added option buttons and image to the page-->
    <div class="center-box">
        <img src="/Content/Images/oops.jpg" id="move-oops" class="center-box" alt="Oops!" />
        <h2 class="center-box">Your login attempt was not successful.</h2>
    </div>
        <form>
            <div class="center-box">
                <a href="/Account/Login" class="button-redirect">Retry</a>
            </div>
            <div class="center-box">
                <p> Not registered? Register for a new account here. </p>
                <a href="/Account/Register" class="button-redirect">
                    Register
                </a>
            </div>
            <div class="center-box">
                <p> Forgot your password? Click below to reset your password.</p>
                <a href="/Account/ForgotPassword" class="button-redirect">
                    Forgot Password
                </a>
            </div>

        </form>

</body>
</html>